body {
    background-color: black;
     
}
.navigation{
    
    text-align: center;
    text-decoration: none;
    margin-bottom: 100px;
    padding: 30px;
    
}
.navigation a{
    color: white;
    padding: 5px 16px;
    /* removes any decorations set by default */
    text-decoration: none;
}
.navigation a:hover {
    color: #C7B299;
    text-decoration: underline;
    
}
.navigation a.active{
    color: #C7B299;
}
h1{
    color: #C7B299;
    text-align: center;
    margin-top: 30px;
}
h2{
    color: #C7B299;
    text-align: center;
    padding: 20px;
    top: 100px;
}

li{
    text-align: center;
    color: #C7B299;
    list-style-type: none;
}
hr{
    border: 0px;
    height: 1px;
    width: 10%;
    background-color: darkgrey;
    margin-bottom: 50px;
}
h3{
    padding-left: 100px;
    color: #C7B299;
}

.favoriteServices{
    text-align: center;
}
.whatWeDo, .barberTools, .eyebrow {
    position: relative; 
    display:inline-block;
    padding: 0 50px;
}
.appointments{
    text-align:center;
}
#timeTable{
    border: 1px solid #C7B299;
}
th{
    color: #C7B299;
    text-align: center;
}
td{
    color: white;
    text-align: left;
    padding: 10px 20px;
}
p{
    color: white;
    text-align: center;
    padding-bottom: 50px;
}
#hoursContainer{
    border: 2px white solid;
    width: 49%;
    float: right;
}
#formContainer{
    border: 2px white solid;
    width: 49%;
    float: left;
}

#hours{
    color:white;
}
label{
    color: white;
}
input{
    float: right;
}
form{
    text-align:center;
}
h4{
    color: #C7B299;
}
